Simulacion-Capas-Aranzado/.vs/
Simulacion-Capas-Aranzado/packages/
Simulacion-Capas-Aranzado/Simulacion-Capas-Aranzado/bin/
Simulacion-Capas-Aranzado/Simulacion-Capas-Infolex/bin/
Simulacion-Capas-Aranzado/Simulacion-Capas-Infolex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Simulacion-Capas-Aranzado/Simulacion-Capas-Infolex/obj/
Simulacion-Capas-Aranzado/Simulacion-Capas-Aranzado/obj/
